@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.howWeWork_section {
    width: 100%;
    padding: 2rem;
    gap: 2rem;
    grid-template-rows: auto auto;
    font-family: "Roboto", sans-serif;
    border-bottom: 0.1rem solid #000;
}

.howWeWork_top,
.howWeWork_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.howWeWork_top {
    margin-bottom: 2rem;
    align-items: center;
}

.howWeWork_title {
    font-size: 2rem;
    margin: 1rem 0;
}

.howWeWork_mainText {
    font-size: 5rem;
    max-width: 35rem;
    line-height: 0.9;
}

.howWeWork_subtitle {
    font-size: 1.3rem;
    margin: 1rem 0;
    max-width: 90%;
    line-height: normal;
}

.howWeWork_subtext {
    max-width: 90%;
    font-size: 1.2rem;
    line-height: 1.3;
}


.buttons_block {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.buttons_block button {
    padding: 0.4rem 1.2rem;
    border-radius: 2rem;
    border: 0.1rem solid #000;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
}

.buttons_block .yellow_btn {
    background-color: #FFE8A3;
}

.buttons_block .yellow_btn:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.howWeWork_imageBlock img {
    width: 100%;
    object-fit: contain;
}

.bottom_block {
    padding: 2rem;
    border: 0.1rem solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
}


.bottom_block .bottom_title {
    font-size: 2rem;
    font-weight: 600;
    max-width: 25rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: normal;
}

.bottom_block .bottom_subtitle {
    font-size: 1.1rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.bottom_block .bottom_btn {
    max-width: 10rem;
    padding: 0.4rem 0.8rem;
    border-radius: 2rem;
    border: 0.1rem solid #000;
    background-color: #99FF91;
    cursor: pointer;
    font-weight: 600;
}

.bottom_block .bottom_btn:hover {
    background-color: #88ee7f;
    transform: scale(1.05);
    transition: all 0.3s ease;
}


@media(max-width: 64rem) {
    .howWeWork_mainText {
        font-size: 4rem;
        max-width: 25rem;
    }

    .howWeWork_section {
        padding: 1rem;
    }
}

@media(max-width: 60.5rem) {

    .howWeWork_top,
    .howWeWork_bottom {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 30rem) {
    .howWeWork_mainText {
        font-size: 3rem;
        max-width: 20rem;
        line-height: 1.1;
    }

    .howWeWork_title {
        font-size: 1.5rem;
    }

    .howWeWork_subtext,
    .bottom_block .bottom_subtitle {
        font-size: 1rem;
    }

    .bottom_block .bottom_title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

}