@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.home_section {
    width: 100%;
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    font-family: "Roboto", sans-serif;
    border-bottom: 0.1rem solid #000;
}

.home_left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info_blocks {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 0.8rem;
}

.info_blocks .info_block {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 0.1rem solid #000;
    border-radius: 2rem;
}

.info_blocks .info_block .info_content {
    display: flex;
    flex-direction: column;
}

.home_title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.home_mainText {
    font-size: 4rem;
    max-width: 30rem;
    line-height: 0.9;
}

.home_mainSubtext {
    max-width: 35rem;
    font-size: 1.1rem;
    padding-top: 1rem;
    line-height: 1.3;
}

.info_content .title {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 1rem;
    max-width: 80%;
}

.info_content .subtitle {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    max-width: 85%;
}

.home_form {
    width: 100%;
    border-radius: 2rem;
    padding: 2rem;
    border: 0.1rem solid #000;
    background: linear-gradient(90deg, #99FF91 0%, #61D1F2 100%);
    max-height: 500px;
}

.home_form .form_title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.home_form .form_subtitle {
    font-size: 1rem;
    max-width: 80%;
    line-height: 1.3;
}

.home_form .form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home_form .form input {
    padding: 0.8rem;
    border: none;
    border-bottom: 0.1rem solid #000;
    outline: none;
    background-color: transparent;
}

.home_form .submit_btn {
    margin-top: 1rem;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home_form .submit_btn:hover {
    background-color: #1d1c1c;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 61.25rem) {
    .home_section {
        grid-template-columns: 1fr;
        padding: 2rem 1rem 1rem 1rem;
    }

    .home_left {
        order: 2;
    }

    .home_form {
        order: 1;
    }
}


@media (max-width: 37.5rem) {
    .info_block img {
        height: 40%;
    }

    .info_block {
        flex-direction: column;
        justify-content: center;
    }

    .info_content .title {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 1rem;
        max-width: 100%;
    }

    .info_content .subtitle {
        max-width: 100%;
    }

    .home_mainText {
        font-size: 3.5rem;
        max-width: 15rem;
        line-height: 1.1;
    }

    .home_mainSubtext {
        max-width: 20rem;
    }

    .home_form .form_title {
        font-size: 2rem;
    }

    .home_form .form_subtitle {
        max-width: 100%;
        font-size: 0.9rem;
    }
}

@media (max-width: 25rem) {
    .home_mainText {
        font-size: 3rem;
    }

    .info_block img {
        height: 30%;
    }

    .info_content {
        margin-top: 1rem;
    }

}