@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.contact_section {
    width: 100%;
    padding: 2rem;
    display: grid;
    align-items: center;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    font-family: "Roboto", sans-serif;
}

.contact_imageBlock img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.contact_title {
    font-size: 2rem;
    margin: 1rem 0;
}

.contact_mainText {
    font-size: 5rem;
    max-width: 35rem;
    line-height: 0.9;
}

.contact_subtitle {
    font-size: 1.3rem;
    margin: 1rem 0;
    max-width: 90%;
    line-height: normal;
}

.contact_subtext {
    max-width: 90%;
    font-size: 1.2rem;
    line-height: 1.3;
}


.buttons_block {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.buttons_block button {
    padding: 0.4rem 1.2rem;
    border-radius: 2rem;
    border: 0.1rem solid #000;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
}

.buttons_block .purple_btn {
    background-color: #B3B5FF;
}

.buttons_block .purple_btn:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

@media(max-width: 64rem) {
    .contact_mainText {
        font-size: 4rem;
        max-width: 25rem;
    }

    .contact_section {
        padding: 1rem;
    }
}

@media(max-width: 60.5rem) {
    .contact_section {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media(max-width: 30rem) {
    .contact_mainText {
        font-size: 3rem;
        max-width: 20rem;
        line-height: 1.1;
    }

    .contact_title {
        font-size: 1.5rem;
    }

    .contact_subtext {
        font-size: 1rem;
    }

}