@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.topText {
    width: 100%;
    font-size: clamp(2rem, 2rem + 10vw, 15rem);
    padding: 0 2rem 1rem 2rem;
    font-family: "Abril Fatface", serif;
    border-bottom: 0.1rem solid #000;
    line-height: 1;
    margin-top: 1rem;
}

@media (max-width: 37rem) {
    .topText {
        font-size: 3.5rem;
        padding: 1rem;
        margin: 0;
    }
}

@media (max-width: 24rem) {
    .topText {
        font-size: 2.5rem;
    }
}